<div class="row align-item my-2 height" style="color: #C3996B;">
    <div class="col-12 fontsize text-align">
        Check in
    </div>
</div>

<div class="row align-item my-2 height border-color">
    <div class="col-12">
        <input id="input" type="text" placeholder="Name" class="ps-2">
    </div>
</div>

<div class="row align-item my-2 height border-color">
    <div class="col-12">
        <input id="input" type="text" placeholder="Vorname / first Name" class="ps-2">
    </div>
</div>

<div class="row align-item my-2 height" style="color: #C3996B;">
    <div class="col-12 font-size text-align">
        Ihr Zimmer/your Room
    </div>
</div>

<div class="row align-item my-2" style="background-color: #C3996B; height: 100px;">
    <div class="col-3 text-white fontsize">
        1
    </div>
    <div class="col-5 text-white font-size text-align">
        <b>Rotkäppchen</b><br>Doppelzimmer / 1.OG
    </div>
    <div class="col-4 text-white font-size text-align" style="text-align: right;">
        <div>
            <app-multi-person style="float: right;" [rating]="2"></app-multi-person>
        </div><br>
        <span>
            99,- &euro;
        </span>
    </div>
</div>

<div class="row align-item my-2 height" style="color: #EE1D25;">
    <div class="col-12 font-size text-align">
        <span>Meldeschein bitte ausfullen! <br> Registration form. Pease fill in! <br><i class="fas fa-arrow-down"
                style="font-size:48px;color:red"></i> </span>
    </div>
</div>

<div class="row align-item mt-5 height text-align border-color color">
    <div class="col-12 font-size">
        Tag der Abreise / Day of departure
    </div>
</div>
<div class="row align-item mt-2 height text-align border-color color">
    <div class="col-12 font-size">
        Geburtsort / Place of Birth
    </div>
</div>
<div class="row align-item mt-2 height text-align border-color color">
    <div class="col-12 font-size">
        Staatsangegorigkeit / Nationality
    </div>
</div>
<div class="row align-item mt-2 height text-align border-color color">
    <div class="col-12 font-size">
        Wohnhaft Land / Living Country
    </div>
</div>
<div class="row align-item mt-2 height text-align border-color color">
    <div class="col-12 font-size">
        Wohnrt (PLZ) / Postalcode
    </div>
</div>
<div class="row align-item mt-2 height text-align border-color color">
    <div class="col-12 font-size">
        Strabe / Street
    </div>
</div>
<div class="row align-item mt-2 height text-align border-color color">
    <div class="col-12 font-size">
        begleitenden Kinder / Nr . of Children
    </div>
</div>
<div class="row align-item mt-2 height text-align border-color color">
    <div class="col-12 font-size">
        eMail
    </div>
</div>
<div class="row align-item mt-2 height text-align border-color color">
    <div class="col-12 font-size">
        Unterschrift / Sign
    </div>
</div>