<div class="row text-white align-item my-2 height" style="background-color: #C3996B;">
    <div class="col-12 text-white font-size text-align">
        Today/heute
    </div>
</div>

<div class="row align-item my-2 height border-color">
    <div class="col-6 font-size">
        von
    </div>
    <div class="col-6 font-size">
        bis
    </div>
</div>

<div class="row align-item my-4 height text-align">
    <div class="col-12" style="font-size: 20px;">
        Freie Zimmer/Free Rooms <br> Click to Book

    </div>
</div>



<a routerLink="/pages/free-rooms/checkin" class="p-0" style="text-decoration: none;">
    <div class="row align-item my-2" style="background-color: #8BC63F; height: 100px;">
        <div class="col-3 text-white fontsize">
            1
        </div>
        <div class="col-5 text-white font-size text-align">
            <b>Rotkäppchen</b><br>Doppelzimmer
        </div>
        <div class="col-4 text-white font-size" style="text-align: right;">
            <div>
                <app-multi-person style="float: right;" [rating]="2"></app-multi-person>
            </div><br>
            <span>
                99,- &euro;
            </span>
        </div>
    </div>
</a>

<a routerLink="/pages/free-rooms/room" class="p-0" style="text-decoration: none;">
    <div class="row align-item my-2" style="background-color: #8BC63F; height: 100px;">
        <div class="col-3 text-white fontsize">
            2
        </div>
        <div class="col-5 text-white font-size text-align">
            <b>Die goldene Gans</b><br>Suite
        </div>
        <div class="col-4 text-white font-size text-align" style="text-align: right;">
            <div>
                <app-multi-person style="float: right;" [rating]="2"></app-multi-person>
            </div><br>
            <span>
                119,- &euro;
            </span>
        </div>
    </div>
</a>

<a routerLink="/pages/free-rooms/room" class="p-0" style="text-decoration: none;">
    <div class="row align-item my-2" style="background-color: #8BC63F; height: 100px;">
        <div class="col-3 text-white fontsize">
            4
        </div>
        <div class="col-5 text-white font-size text-align">
            <b>Hänsel</b><br>Einzelzimmer
        </div>
        <div class="col-4 text-white font-size text-align" style="text-align: right;">
            <div>
                <app-multi-person style="float: right;" [rating]="1"></app-multi-person>
            </div><br>
            <span>
                89,- &euro;
            </span>
        </div>
    </div>
</a>

<a routerLink="/pages/free-rooms/room" class="p-0" style="text-decoration: none;">
    <div class="row align-item my-2" style="background-color: #8BC63F; height: 100px;">
        <div class="col-3 text-white fontsize">
            8
        </div>
        <div class="col-5 text-white font-size text-align">
            <b>Aschenputtel</b><br>Doppelzimmer
        </div>
        <div class="col-4 text-white font-size text-align" style="text-align: right;">
            <div>
                <app-multi-person style="float: right;" [rating]="2"></app-multi-person>
            </div><br>
            <span>
                99,- &euro;
            </span>
        </div>
    </div>
</a>

<a routerLink="/pages/free-rooms/room" class="p-0" style="text-decoration: none;">
    <div class="row align-item my-2" style="background-color: #8BC63F; height: 100px;">
        <div class="col-3 text-white fontsize">
            8A
        </div>
        <div class="col-5 text-white font-size text-align">
            <b>Rapunzel</b><br>Apartment
        </div>
        <div class="col-4 text-white font-size text-align" style="text-align: right;">
            <div>
                <app-multi-person style="float: right;" [rating]="4"></app-multi-person>
            </div><br>
            <span>
                139,- &euro;
            </span>
        </div>
    </div>
</a>