<div class="center my-2">
    <img src="/assets/images/logo.png" width="300px" height="200px" alt="logo">
</div>

  <a routerLink="/pages/bike-info" class="p-0" style="text-decoration: none;">
    <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
      <div class="col-2">
        <img src="/assets/images/bike.png" width="50px" alt="bike">
      </div>
  
      <div class="col-10 text-white font-size text-align">
        Bike Info
      </div>
    </div>
  </a>
  
  <a routerLink="/pages/sightseeing" class="p-0" style="text-decoration: none;">
    <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
      <div class="col-2">
        <img src="/assets/images/castle.png" width="40px" height="50px" alt="castle">
      </div>
  
      <div class="col-10 text-white font-size text-align">
        Sightseeing
      </div>
    </div>
  </a>
  
  <a routerLink="/pages/restaurant" class="p-0" style="text-decoration: none;">
    <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
      <div class="col-2">
        <img src="/assets/images/chief.png" width="50px" alt="chief">
      </div>
  
      <div class="col-10 text-white font-size text-align">
        Restaurant
      </div>
    </div>
  </a>
  
  <a routerLink="/pages/fruhstuck" class="p-0" style="text-decoration: none;">
    <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
      <div class="col-2">
        <img src="/assets/images/coffee.png" width="50px" alt="coffee">
      </div>
  
      <div class="col-10 text-white font-size text-align">
        Frühstück/Breakfast
      </div>
    </div>
  </a>
  
  <a routerLink="/pages/information" class="p-0" style="text-decoration: none;">
    <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
      <div class="col-2">
        <img src="/assets/images/information.png" width="50px" alt="information">
      </div>
  
      <div class="col-10 text-white font-size text-align">
        Information
      </div>
    </div>
  </a>
  
  <a routerLink="/pages/kontakt" class="p-0" style="text-decoration: none;">
    <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
      <div class="col-2">
        <img src="/assets/images/contact.png" width="50px" alt="contact">
      </div>
  
      <div class="col-10 text-white font-size text-align">
        Kontakt / Contact
      </div>
    </div>
  </a>
  
  <a routerLink="/" class="p-0" style="text-decoration: none;">
    <div class="row m-0 text-white border-color align-item mb-2" style="background-color: white; height: 250px;">
      <div class="col-12 text-white font-size text-align">
        <img src="/assets/images/logo.png" width="300px" height="200px" alt="logo">
      </div>

    </div>
  </a>
  