        <div class="center mb-2" style="text-align: center; align-items: center ; background-color: #C3996B;">
            <img src="/assets/images/coffee.png" width="50%" height="60%" alt="coffee">
        </div>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Frühstück buchen</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Personenzahl</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Zimmer</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Name</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Datum</b>
                </div>
            </div>
        </a>
        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0  mb-2 border-color" style=" height: 120px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Bemerkung</b>
                </div>
            </div>
        </a>