        <div class="center mb-2" style="text-align: center; align-items: center ; background-color: #C3996B;">
            <img src="/assets/images/information.png" width="40%" height="60%" alt="information">
        </div>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Frühstück von/bis</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Checkin / Checkout</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Hochzeiten</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Museum</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Getränke</b>
                </div>
            </div>
        </a>
        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0  mb-2 border-color" style=" height: 120px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Bemerkung</b>
                </div>
            </div>
        </a>