<div class="container">
    <div class="row" style=" margin: 8%">
        <div class="center mb-2" style="text-align: center; align-items: center ; background-color: #C3996B;">
            <i class="material-icons" style="font-size: 10rem; color: white;">pedal_bike</i>
        </div>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Routen</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Laden E-Bike</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Parken / Unterstellen</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Werkstatt</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Mieten</b>
                </div>
            </div>
        </a>
        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0  mb-2 border-color" style=" height: 120px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Bemerkung</b>
                </div>
            </div>
        </a>
        



        <!-- <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: white;">
                <div class="col-12 text-white font-size text-align">
                    <b>Laden E-Bike</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: white;">
                <div class="col-12 text-white font-size text-align">
                    <b>Werkstatt</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: white;">
                <div class="col-12 text-white font-size text-align">
                    <b>Mieten</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: white;">
                <div class="col-12 text-white font-size text-align">
                    <b>Bemerkung</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: white;">
                <div class="col-12 text-white font-size text-align">
                    <b>Routen</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: white;">
                <div class="col-12 text-black font-size text-align">
                    <b>Routen</b>
                </div>
            </div>
        </a>

        <a routerLink="/test" class="p-0" style="text-decoration: none;">
            <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: white;">
                <div class="col-12 text-white font-size text-align">
                    <b>Routen</b>
                </div>
            </div>
        </a> -->



    </div>