<div class="center mb-2" style="text-align: center; align-items: center ; background-color: #C3996B;">
  <img src="/assets/images/bike.png" width="50%" height="60%" alt="bike">
</div>

<a routerLink="/pages/information" class="p-0" style="text-decoration: none;">
  <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
    <div class="col-12 font-size text-align">
      <b>Routen</b>
    </div>
  </div>
</a>

<a routerLink="/" class="p-0" style="text-decoration: none;">
  <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
    <div class="col-12 font-size text-align">
      <b>Laden E-Bike</b>
    </div>
  </div>
</a>

<a routerLink="/" class="p-0" style="text-decoration: none;">
  <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
    <div class="col-12 font-size text-align">
      <b>Parken / Unterstellen</b>
    </div>
  </div>
</a>

<a routerLink="/" class="p-0" style="text-decoration: none;">
  <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
    <div class="col-12 font-size text-align">
      <b>Werkstatt</b>
    </div>
  </div>
</a>

<a routerLink="/" class="p-0" style="text-decoration: none;">
  <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
    <div class="col-12 font-size text-align">
      <b>Mieten</b>
    </div>
  </div>
</a>
<a routerLink="/" class="p-0" style="text-decoration: none;">
  <div class="row m-0  mb-2 border-color" style=" height: 120px; color: #C3996B;">
    <div class="col-12 font-size text-align">
      <b>Bemerkung</b>
    </div>
  </div>
</a>
