<div style=" margin: 5%">
    <div class="center mb-2">
        <p style="padding-top: 10px;">logo</p>
    </div>

    <!-- <div class="row" style="background-color: #97DD50;"> -->

        <div class="col-md-8 col-sm-8 col-xs-12">
            <a href="#" class=" mb-2"
            style="height: 100px; width: 100%; background-color: #97DD50">Check in/out <br>
            Rechnung</a>
        </div>


        <div class="col-md-4 col-sm-4 col-xs-6"></div>
        <i class="fa fa-home"></i>
    <!-- </div> -->












    <!-- <div>
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-2"
            style="height: 100px; width: 100%; background-color: #97DD50"><i class="fa fa-home"
                style="float: left;"></i>Check in/out <br>
            Rechnung</button>
    </div>

    <div>

        <button type="button" class="btn btn-secondary btn-lg btn-block bg-danger mb-2 height backgroundColor"><i
                class="material-icons" style="float: left;font-size: 30px;">edit</i>
            Meldeschein
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-2 height backgroundColor"><i
                class="material-icons" style="float: left;">pedal_bike</i>Bike info</button>
    </div>

    <div>
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-2 height backgroundColor"><i
                class="material-icons" style="float: left;">castle</i>Sightseeing</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-2 height backgroundColor"><i
                class="material-icons" style="float: left;">restaurant</i>Restaurant</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-2 height backgroundColor"><i
                class="material-icons" style="float: left;">local_cafe</i>Fruhstuck</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary btn-lg btn-block mb-2 height backgroundColor"><i
                class="material-icons" style="float: left;">info</i>Information</button>
    </div>
    <div>
        <button type="button" class="btn btn-secondary btn-lg btn-block height backgroundColor"><i
                class="material-icons" style="float: left;">phone</i>Kontakt</button>
    </div> -->
</div>