<div class="center my-2">
  <p style="padding-top: 10px;">logo</p>
</div>

<a routerLink="/pages/checkin-out" class="p-0" style="text-decoration: none;">
  <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: #8BC63F;">
    <div class="col-2">
      <img src="/assets/images/checkin.png" width="70px" alt="checkin">
    </div>

    <div class="col-10 text-white font-size text-align">
      <b>check in/out<br>Rechnung</b>
    </div>
  </div>
</a>

<a routerLink="/" class="p-0" style="text-decoration: none;">
  <div class="row m-0 text-white align-item mb-2 height" style="background-color: #EF3F36;">
    <div class="col-2">
      <img src="/assets/images/edit.png" width="50px" alt="edit">
    </div>

    <div class="col-10 text-white font-size text-align">
      <b>Meldeschein</b>
    </div>
  </div>
</a>

<a routerLink="/pages/bike-info" class="p-0" style="text-decoration: none;">
  <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
    <div class="col-2">
      <img src="/assets/images/bike.png" width="50px" alt="bike">
    </div>

    <div class="col-10 text-white font-size text-align">
      <b>Bike Info</b>
    </div>
  </div>
</a>

<a routerLink="/pages/sightseeing" class="p-0" style="text-decoration: none;">
  <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
    <div class="col-2">
      <img src="/assets/images/castle.png" width="40px" height="50px" alt="castle">
    </div>

    <div class="col-10 text-white font-size text-align">
      <b>Sightseeing</b>
    </div>
  </div>
</a>

<a routerLink="/pages/restaurant" class="p-0" style="text-decoration: none;">
  <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
    <div class="col-2">
      <img src="/assets/images/chief.png" width="50px" alt="chief">
    </div>

    <div class="col-10 text-white font-size text-align">
      <b>Restaurant</b>
    </div>
  </div>
</a>

<a routerLink="/pages/fruhstuck" class="p-0" style="text-decoration: none;">
  <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
    <div class="col-2">
      <img src="/assets/images/coffee.png" width="50px" alt="coffee">
    </div>

    <div class="col-10 text-white font-size text-align">
      <b>Frühstück</b>
    </div>
  </div>
</a>

<a routerLink="/pages/information" class="p-0" style="text-decoration: none;">
  <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
    <div class="col-2">
      <img src="/assets/images/information.png" width="50px" alt="information">
    </div>

    <div class="col-10 text-white font-size text-align">
      <b>Information</b>
    </div>
  </div>
</a>

<a routerLink="/pages/kontakt" class="p-0" style="text-decoration: none;">
  <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
    <div class="col-2">
      <img src="/assets/images/contact.png" width="50px" alt="contact">
    </div>

    <div class="col-10 text-white font-size text-align">
      <b>Kontakt</b>
    </div>
  </div>
</a>
