<div class="container">
    <div class="row" style=" margin: 8%;">
    <div class="center mb-2">
        <p style="padding-top: 10px;">logo</p>
    </div>

    <a routerLink="/test" class="p-0" style="text-decoration: none;">
        <div class="row m-0 text-white align-item mb-2" style="height: 100px; background-color: #8BC63F;">
            <div class="col-2">
                <i class="material-icons" style="font-size: 5rem;">pedal_bike</i>
            </div>

            <div class="col-10 text-white font-size text-align">
                <b>check in/out<br>Rechnung</b>
            </div>
        </div>
    </a>

    <a routerLink="/test" class="p-0" style="text-decoration: none;">
        <div class="row m-0 text-white align-item mb-2 height" style="background-color: #EF3F36;">
            <div class="col-2">
                <i class="material-icons" style="font-size: 3rem;">mode_edit_outlined</i>
            </div>

            <div class="col-10 text-white font-size text-align">
                <b>Meldeschein</b>
            </div>
        </div>
    </a>

    <a routerLink="/pages/bike-info" class="p-0" style="text-decoration: none;">
        <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
            <div class="col-2">
                <i class="material-icons" style="font-size: 3rem;">pedal_bike</i>
            </div>

            <div class="col-10 text-white font-size text-align">
                <b>Bike Info</b>
            </div>
        </div>
    </a>

    <a routerLink="/test" class="p-0" style="text-decoration: none;">
        <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
            <div class="col-2">
                <i class="material-icons" style="font-size: 3rem;">castle</i>
            </div>

            <div class="col-10 text-white font-size text-align">
                <b>Sightseeing</b>
            </div>
        </div>
    </a>

    <a routerLink="/test" class="p-0" style="text-decoration: none;">
        <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
            <div class="col-2">
                <i class="material-icons" style="font-size: 3rem;">person</i>
            </div>

            <div class="col-10 text-white font-size text-align">
                <b>Restaurant</b>
            </div>
        </div>
    </a>

    <a routerLink="/test" class="p-0" style="text-decoration: none;">
        <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
            <div class="col-2">
                <i class="material-icons" style="font-size: 3rem;">coffee_outlined</i>
            </div>

            <div class="col-10 text-white font-size text-align">
                <b>Frühstück</b>
            </div>
        </div>
    </a>

    <a routerLink="/test" class="p-0" style="text-decoration: none;">
        <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
            <div class="col-2">
                <i class="material-icons" style="font-size: 3rem;">info_outlined</i>
            </div>

            <div class="col-10 text-white font-size text-align">
                <b>Information</b>
            </div>
        </div>
    </a>

    <a routerLink="/test" class="p-0" style="text-decoration: none;">
        <div class="row m-0 text-white align-item mb-2 height" style="background-color: #C3996B;">
            <div class="col-2">
                <i class="material-icons" style="font-size: 3rem;">call_outlined</i>
            </div>

            <div class="col-10 text-white font-size text-align">
                <b>Kontakt</b>
            </div>
        </div>
    </a>



</div>