<div class="container">
    <div class="row" style=" margin: 8%">
        <div class="center mb-2" style="text-align: center; align-items: center ; background-color: #C3996B;">
            <img src="/assets/images/contact.png" width="40%" height="60%" alt="contact">
        </div>
        
        <a routerLink="/pages/information" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Rufnummern</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Email</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Ärzte</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Lost & Found</b>
                </div>
            </div>
        </a>

        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0 align-item mb-2 border-color" style=" height: 50px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Kritik & Lob</b>
                </div>
            </div>
        </a>
        <a routerLink="/" class="p-0" style="text-decoration: none;">
            <div class="row m-0  mb-2 border-color" style=" height: 120px; color: #C3996B;">
                <div class="col-12 font-size text-align">
                    <b>Bemerkung</b>
                </div>
            </div>
        </a>

    </div>