<div class="center mb-2" style="text-align: center; align-items: center ; background-color: #C3996B;">
    <img src="/assets/images/castle.png" width="30%" height="70%" alt="castle">
</div>

    <div class="row m-0 align-item mb-2 border-color text-white" style=" height: 70px; background-color: #C3996B;">
        <div class="row font-size ">
            <a routerLink="/" class="p-0 text-white" style="text-decoration: none; display: contents;">
                <span class="font-size col-6 ps-2">Marien Kirche <br> Kirche / Kathedrale</span>
            </a>
            <app-rate-star class="col-6" style="text-align: end; position: relative;" [starRating]="1">
            </app-rate-star>
        </div>
    </div>

<div class="row m-0 align-item mb-2 border-color text-white" style=" height: 70px; background-color: #C3996B;">
    <div class="row font-size ">
        <a routerLink="/" class="p-0 text-white" style="text-decoration: none; display: contents;">
            <span class="font-size col-6 ps-2">Teppichmanufakt. <br> Geschäft</span>
        </a>
        <app-rate-star class="col-6" style="text-align: end; position: relative;" [starRating]="1">
        </app-rate-star>
    </div>
</div>

<div class="row m-0 align-item mb-2 border-color text-white" style=" height: 70px; background-color: #C3996B;">
    <div class="row font-size ">
        <a routerLink="/" class="p-0 text-white" style="text-decoration: none; display: contents;">
            <span class="font-size col-6 ps-2">Hohenburg <br>Burg</span>
        </a>
        <app-rate-star class="col-6" style="text-align: end; position: relative;" [starRating]="1">
        </app-rate-star>
    </div>
</div>

<div class="row m-0 align-item mb-2 border-color text-white" style=" height: 70px; background-color: #C3996B;">
    <div class="row font-size ">
        <a routerLink="/" class="p-0 text-white" style="text-decoration: none; display: contents;">
            <span class="font-size col-6 ps-2">Geotour <br>Aktivität</span>
        </a>
        <app-rate-star class="col-6" style="text-align: end; position: relative;" [starRating]="1">
        </app-rate-star>
    </div>
</div>


<div class="row m-0 align-item mb-2 border-color text-white" style=" height: 70px; background-color: #C3996B;">
    <div class="row font-size ">
        <a routerLink="/" class="p-0 text-white" style="text-decoration: none; display: contents;">
            <span class="font-size col-6 ps-2">Wildpark Knüll <br>Aktivität Natur</span>
        </a>
        <app-rate-star class="col-6" style="text-align: end; position: relative;" [starRating]="1">
        </app-rate-star>
    </div>
</div>


<div class="row m-0  mb-2 border-color text-white" style=" height: 120px; background-color: #C3996B;">
    <div class="row font-size ">
        <a routerLink="/" class="p-0 text-white" style="text-decoration: none; display: contents;">
            <span class="font-size col-6 ps-2"></span>
        </a>
        <app-rate-star class="col-6" style="text-align: end; position: relative;" [starRating]="1">
        </app-rate-star>
    </div>
</div>

<div class="row m-0  mb-2 border-color text-white" style=" height: 120px; background-color: #C3996B;">
    <div class="row font-size ">
        <a routerLink="/" class="p-0 text-white" style="text-decoration: none; display: contents;">
            <span class="font-size col-6 ps-2"></span>
        </a>
        <app-rate-star class="col-6" style="text-align: end; position: relative;" [starRating]="1">
        </app-rate-star>
    </div>
</div>